body{
margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  overflow-y: auto; /* scroll if content is taller */
  }
  
 
  
#output{
    width: 190mm; /* leave space for padding + border */
    padding: 10mm; /* reduce padding if needed */
    box-sizing: border-box;
    background: white;
    border: 1px solid black;
    margin: 0 auto;
}

.headdiv{
display:flex;
}
.hdiv1{

padding-left:10px;
}

.hdiv2{
margin-left:50%;

}
.photo{
border:border:1px solid red;
display:flex;
}
.namediv{
width:80%;
height:166px;
border:1px solid black;

}
.ndiv1{
width:100%;
border:1px solid black;
}
.ndiv2{
padding-top:7px;
width:100%;
height:40px;
border:1px solid black;
}

  
.ndiv3{
padding-left:10px;
padding-top:7px;
width:100%;
/*border:1px solid black;*/
}
.ndiv4{
padding-left:10px;
padding-top:30px;
width:98.5%;
height:50px;]
font-size:30px;
/*border:1px solid black;*/
border-top: 1px dotted black;
}
.dobdiv{
padding-top:10px;
display:flex;
height:40px;
border-top:1px solid black;
}

.dobdiv0{
padding-left:5px;
}


.dobdiv1{
margin-left:110px;
}

.dobdiv2{
margin-left:110px;
width:60px;
font-size:20px;
display:flex;
border-left: 1px dotted black;
padding-left: 15px;
height:45px;
}

.circled {
    border: 2px solid black;
    border-radius: 50%;
    padding: 4px 8px;
    display: flex;
    text-align: center;
    width: 24px;
    height: 24px;
    line-height: 24px;
    color: black;
    user-select: none;
  }
  
.addressdiv{
display:flex;
/*border:1px solid black;*/
width:100%;
height:100px;

}

.namephoto{
display:flex;
}

.photo {
  margin-left:5px;
  width:130px;   /* ≈ 30mm */
  height:165px;  /* ≈ 40mm */
  border:1px solid black;
  text-align:center;
  }

.addressinnerdiv1{
width:72%;


}
.addressinnerdiv2{
width:28%;
border-right:1px solid black;

}

.addressinnerdiv11{
border-right:1px solid black;
border-left:1px solid black;
width:100%
height:200px;
padding-left:10px;
}
.addressinnerdiv12{
padding-top:20px;
padding-bottom:30px;
border:1px solid black;
border-top: 1px dotted black;
width:100%
height:300px;
padding-left:10px;
}
.addressinnerdiv2{
border-top:1px solid black;
}
.addressinnerdiv21{
text-align:center;
}
.collegediv{
display:flex;
/*border:1px solid black;*/
width:100%;
height:50px;
text-align:center;
}
.collegediv0{
display:flex;
/*border:1px solid black;*/
width:100%;
height:40px;
text-align:center;
}

.cid1{
border:1px solid black;
padding-top:5px;
width:30%
}
.cid2{
border:1px solid black;
padding-top:5px;
width:20%
}
.cid3{
border:1px solid black;
padding-top:5px;
width:70%
}
.licencediv{
padding-top:20px;
display:flex;
/*border:1px solid black;*/
width:100%;
height:50px;
text-align:center;
}
.appealdiv{
margin-top:40px;
display:flex;
width:100%;
height:300px;
}
.apd1{
border:1px solid black;
border-right:none;
width:70%
}
.apd2{
/*border:1px solid black;*/
width:30%;
}
.apd11{
padding-top:20px;
text-align:center;
}
.apd12{
padding-top:20px;
padding-left:20px;

}
.apd21{
padding-left:5px;
border:1px solid black;
height:30%;
font-size:14px;
}
.apd22{
border-left:1px solid black;
display:flex;

}
.apd221{
text-align:center;
width:100%;
border:1px solid black;
height:115px;
font-size:14px;

}
.married{
padding-top:35px;
padding-left:10px;
display:flex;
}

.dependent{
padding-top:15px;
padding-left:10px;
display:flex;

}


.submitbutton{
padding-top:500px;
cursor:pointer;
}

#downloadBtn{
      padding: 12px 30px;
      font-size: 1.1rem;
      background-color: #ff9800;
      color: white;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: 0.3s ease;


}

button:hover {
      background-color: #e68900;
      transform: scale(1.05);
    }
